# History files
.Rhistory
.Rapp.history

# Session Data
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# Knitr and R Markdown cache
*_cache/
cache/
*.utf8.md
*.knit.md

# Temporary files
*.tmp
*.swp

# Windows / system files
Thumbs.db
.DS_Store
